<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group</title>
    <script th:src="@{/static/main.js}"></script>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>
<div th:if="${hasDocumentsToRenew}">
    <a th:href="@{/document/getAllToRenew}" style="color: red">
        You have documents should've been renewed
    </a>
</div>
<h1>Group editing</h1>
<!--/*@thymesVar id="group" type="com.internship.service.dto.group.DocumentGroupDto"*/-->
<form onsubmit="sendJsonObject(event, this, '/group/update', 'PUT')">
    <label for="id">Id:</label>
    <input type="text" th:value="${group.id()}" id="id" name="id" readonly><br>
    <label for="name">Name:</label>
    <input type="text" th:value="${group.name()}" id="name" name="name" required><br>
    <label for="color">Color:</label>
    <input type="color" th:value="${group.color()}" id="color" name="color" required><br>
    <button type="submit">Save</button>
</form>
<a th:href="@{/group/getAll?pageNumber=0&pageSize=50}">Back</a>
</body>
</html>