<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
    <link rel="stylesheet" th:href="@{/static/main.css}">
    <script th:src="@{/static/main.js}"></script>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>
<div id="warning-link" style="display: none">
    <a th:href="@{/document/getAllToRenew}" style="color: red">
        You have documents should've been renewed
    </a>
</div>
<a th:href="@{/type/getAll?pageNumber=0&pageSize=50}">Types of documents</a><br>
<button onclick="openCreationForm()">Create new group</button>
<table>
    <thead>
    <tr>
        <td>Group</td>
        <td>Options</td>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="groups" type="java.util.List"*/-->
    <tr th:each="group: ${groups}">
        <!--/*@thymesVar id="group" type="com.internship.service.dto.group.DocumentGroupDto"*/-->
        <td th:style="'background: ' + ${group.color()} + ';'">
            <a th:href="@{|/document/getAllInGroup?groupId=${group.id()}&pageNumber=0&pageSize=50|}"
               th:text="${group.name()}"></a>
        </td>
        <td>
            <button th:onclick="|window.location.href='/group/get/' + ${group.id()}|">Edit</button>
            <button th:onclick="|deleteEntity('/group/delete/', ${group.id()})|">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
<div id="creation-form" class="creation-form">
    <h2>Create group</h2>
    <form onsubmit="sendJsonObject(event, this, '/group/create', 'POST')">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>
        <label for="color">Color:</label>
        <input type="color" id="color" name="color" required><br>
        <button type="submit">Create</button>
        <button type="button" onclick="closeCreationForm()">Close</button>
    </form>
</div>
</body>
</html>