<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
<div>
    <form onsubmit="sendJsonObject(event, this, '/auth/register', 'POST')">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" required><br>
        <button type="submit">Submit</button>
    </form>
    <script>
        function sendJsonObject(event, form, url, method) {
            event.preventDefault();
            const formData = new FormData(form);
            let jsonObject = Object.fromEntries(formData.entries());
            fetch(url, {
                method: method,
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify(jsonObject)
            }).then((response) => window.location.href = response.url)
                .catch(error => console.error(error));
        }
    </script>
</div>
<a href="/auth/login">Back</a>
</body>
</html>